@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  --color-silver: #D0C9C4;
  --color-silver-rgb: 208 201 196;
  --color-green-active: #03c44a;
  --color-blue-python: #4F8DF9;
  --color-yellow-python: #FFD43B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    cursor: pointer;
  }

  
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@theme{
  --color-green-active: #22c55e;
  --color-blue-python: #4F8DF9;
  --color-yellow-python: #FFD43B;
  --color-silver: #D0C9C4;

}

.text-silver {
  color: rgb(var(--color-silver-rgb) / var(--tw-text-opacity, 1));
}

.text-blue-python { color: var(--color-blue-python); }
.text-yellow-python { color: var(--color-yellow-python); }
.bg-blue-python { background-color: var(--color-blue-python); }
.bg-yellow-python { background-color: var(--color-yellow-python); }
.bg-silver { background-color: var(--color-silver); color: rgba(0,0,0,0.87); }

.text-gradient-blue-yellow {
  background-image: linear-gradient(90deg, var(--color-blue-python), var(--color-yellow-python));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.text-gradient-silver-blue {
  background-image: linear-gradient(90deg,  var(--color-blue-python), var(--color-silver));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.text-gradient-silver-blue:hover {
  background-image: linear-gradient(90deg, var(--color-silver), var(--color-blue-python));
}


.bg-gradient-blue-yellow {
  background-image: linear-gradient(90deg, var(--color-blue-python), var(--color-yellow-python));
}

